@import url('http://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


body {
    font-family: 'SF Pro Display', Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-repeat: no-repeat;
}

.page{
    margin:1rem;
}

header {
    background-color: rgb(34, 34, 34);
    padding: 0 1rem 0 1rem;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

li {
    margin: 0 16px 0 16px;
}

.btn-mod{
    cursor:pointer;
}

.error{
    margin: auto;
}
.hero-titulo{
    font-family: 'Pacifico', cursive;
}
.nav-link {
    padding: 0.1rem;
    font-size: 15px;
    color:#ffff;
}
.nav-link:hover{
    color:#ffff;
}

.btn{
    cursor:pointer;
    border-radius: 18px;
    border: none;
    text-decoration: none;
    font-style: none;
    opacity: 1;
}
.btn:hover{
    opacity: 0.9;
}
.btn:focus{
    box-shadow: none !important;
}
.btn-cart {
    margin-left: 2rem;
}
.btn-primary{
    background-color: #0071e3;
}
.delete-prod{
    cursor:pointer;
}
.page{
    border-radius: 7px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 12%);
    background-color: #f2f2f4;
}
.buy-prod{
    padding:6px 15px;
}

.contain-img, .offcanvas {
    border-radius: 7px;
}

.offcanvas {
    transition: 0.3s;
}

a {
    opacity: 0.9;
}
a:hover {
    opacity: 1;
    transition: 0.3s;
}
.hero{
    background-image: url("../ilustrations/hero.png");
    height: 32vh;
    justify-content: center;
    display: flex;
    background-position: center;
    background-attachment: fixed;
    border-bottom: 1px solid #dce5e2;
}

.card-body{
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    box-shadow: 0px 6px 12px rgba(0,0,0,.08);
}

.box-light{
    box-shadow: 0 2px 8px 3px rgb(255 255 255 / 8%)
}
.card {
    border:none;
}
.descripcion-producto{
    color:rgba(0,0,0,.5);
}
.contain-img{
    object-fit: contain;
}
.card-img-top {
    height: 9rem;
    object-fit: contain;
}

.producto {
    margin-bottom: 2rem;
}

.card-text {
    margin: 5px;
}

.cantidad-prod {
    position: absolute;
    color: #fff;
    transform: translate(60px, -5px);
}

.producto-carrito {
    border-bottom: solid 0.2px rgb(215, 213, 213);
    padding: 0.5rem;
}
.close-canvas{
    cursor: pointer;
}
.offcanvas-header{
    background-color: rgb(34, 34, 34);
    color: #fff;
}

.offcanvas-footer{
    padding:1rem 0.5rem;
    bottom:-15px;
    position:inherit;
    background-color: #fff;
}
.text-canvas-footer{
    color:black;
}
.container-img{
    width: 60px;
}
.img-prod-carrito{
    object-fit: contain;
    height: 60px;
    width: 100%;
}

.categoria{
    padding: 3rem 0;
}

.precio{
    height: 25px;
}

.footer{
    border-top: 1px solid #dce5e2;
}
.footer a {
    text-decoration: none;
    color:#000;
}

.offcanvas-body{
    align-content: space-between;
    display:grid;
}

.text-reset{
    text-decoration: none;
}

.inputCantidad{
    -webkit-appearance: none;
    margin:0;
    -moz-appearance: textfield;
}

.precioInput{
    width:8.9rem;
    padding:0;
}



@media (max-width:768px) {
    .card{
        margin:0 auto;
    }
    .container{
        margin:0 !important;
    }
    .hero{
        margin-bottom: 1rem;
    }
    .page{
        margin:0;
    }
    .header{
        border-radius: 0;
    }
}