@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


body {
    font-family: 'SF Pro Display', Helvetica, Arial, sans-serif;
    background-color: #f5f5f7;
}

header {
    background-color: #000;
    padding: 0 1rem 0 1rem;
    z-index: 1;
}

li {
    margin: 0 16px 0 16px;
}

ul a {
    color: rgb(215, 213, 213) !important;
}

.nav-link {
    padding: 0.1rem;
    font-size: 15px;
}

.btn-cart {
    padding-left: 2rem;
}
.btn-primary,.btn-secondary{
    border-radius: 200px;
}

.contain-img, .offcanvas {
    border-radius: 5px;
}

.offcanvas {
    transition: 0.3s;
}
.btn{
    cursor:pointer;
}
a {
    opacity: 0.8;
}
.hero{
    background-image: url(../ilustrations/hero.png);
    height: 30vh;
    background-position: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

a:hover {
    opacity: 1;
    transition: 0.3s;
}

.card-body {
    background-color: rgba(255, 0, 0, 0);
}

.card {
    background-color: hsla(0, 100%, 50%, 0);
    border: none
}

.card-img-top:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.card-img-top {
    transition: 0.5s;
    height: 9rem;
    object-fit: contain;
}

.bg-white {
    object-fit: contain;
}

.btn-buy {
    border-radius: 200px;
    background-color: #0071e3;
    border: none;
    text-decoration: none;
    font-style: none;
}

.producto {
    margin-bottom: 4rem;
}

.card-text {
    margin: 5px;
}

.cantidad-prod {
    position: absolute;
    color: white;
    transform: translate(60px, -5px);
    transition: 2s;
}

.producto-carrito {
    border-bottom: solid 0.2px rgb(215, 213, 213);
    padding: 0.5rem;
}
.offcanvas-header{
    background-color: #f5f5f7;
    text-align: center;
    color:#000;
}

.img-prod-carrito{
    width:60px;
}